body {
  background: #bad;
}

#header {
  padding-top: 20px;
}

h1 {
  text-align: center;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

.title {
  font-size: 120%;
}

.timestamp {
  font-size: 80%;
}

table.bigups tr {
  width: 50px;
  vertical-align: top;
}

table.bigups tr td.bigup {
  text-align: center;
  padding-top: 10px;
  display: block;
  vertical-align: top;
}

div.bigup_form {
  text-align: center;
}

form.new_bigup {
  margin-bottom: 2em;
}

form.new_bigup textarea {
  height: 4em;
  margin-bottom: 0;
}

div.flash {
  text-align: center;
  width: 200px;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
}

/* Round corners */

.round {
  -moz-border-radius:    250px;
  -webkit-border-radius: 250px;
  border-radius:         250px;
}
