a {
  color: #a8f;
  text-decoration: none;
}

body {
  background: #bad;
}

#header {
  padding-top: 20px;
}

h1 {
  text-align: center;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

.title {
  font-size: 120%;
}

.timestamp {
  font-size: 80%;
}

span.reply {
  text-align: center;
}

div.hr {
  color: #bad;
  background-color: #bad;
  height: 2px;
}

div.hr hr {
  display: none;
}

table.bigups tr td.bigup {
  text-align: center;
  padding-top: 6px;
  display: block;
  vertical-align: top;
}

form {
  text-align: center;
  margin-bottom: 2em;
}

form textarea {
  height: 4em;
  margin-bottom: 0;
}

.pagination {
  text-align: center;
  font-size: 80%;
  margin-bottom: 2em;
}

div.flash {
  text-align: center;
  width: 200px;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
}

/* Round corners */

.round {
  -moz-border-radius:    250px;
  -webkit-border-radius: 250px;
  border-radius:         250px;
}
