a {
	color: #a8f;
	text-decoration: none;
}

body * {
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}

body {
  background-image: url("/assets/florvine.jpg");
  color: #706090;
  cursor: url("/assets/cursor.cur"), auto;
}

input:hover,
textarea:hover {
	border: dashed 1px #000;
}

input#spool_submit:hover {
	border: dashed 2px #000;
}

input[type=file]:hover {
	border: none;
}

img.tool {
	cursor: move;
}

#container {
	width: 960px;
	margin: 0px auto 0px auto;
	padding-top: 10px;
}

#header_bubble {
	background: #b0a0ff;
	background-image: url('/assets/b.png');
	background-repeat: no-repeat;
	float: left;
	width: 100%;
}

#header_bubble h1 a {
	color: #82e;
}

.b {
  background-color: #eed8b9;
  font-size: 450%;
  -moz-border-radius:    250px;
  -webkit-border-radius: 250px;
  border-radius:         250px;
  padding: 4px;
  display: inline;
}

.bubble {
  margin: 0;
  padding: 0;
  font-size: 120%;
  background: #a0d0f0;
  background-image: url('/assets/b.png');
  background-repeat: no-repeat;
  -moz-border-radius:    250px;
  -webkit-border-radius: 250px;
  border-radius:         250px;
	width: 800px;
}

.bubble .comment p {
	max-width: 600px;
	overflow: hidden;
}

.like {
  text-align: center;
}

.bigup_controls {
  float: right;
}

.anchor, .reply, .pagination {
  background: #adf;
  color: #a8f;
  border-color: #C6D880;
  padding: .8em;
  margin-bottom: 1em;
  border: solid #ddf;
}

.reply {
  text-align: center;
  width: 52px;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
}

.anchor {
  padding: .3em;
  font-size: 250%;
  text-align: center;
  width: 40px;
  -moz-border-radius:    150px;
  -webkit-border-radius: 150px;
  border-radius:         150px;
}

.pagination {
  float: right;
  color: #555;
  font-size: 90%;
  width: 200px;
  margin-bottom: 2em;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
}

.pic {
	text-align: left;
	background-repeat: repeat-x;
}

.title {
  font-size: 140%;
  font-style: italic;
}

.timestamp {
  font-size: 80%;
}

.comment {
  margin-right: 5em;
  margin-left: 5em;
  text-align: left;
  font-size: 2em;
}

div.hr {
  color: #bad;
  background-color: #bad;
  height: 2px;
}

div.hr hr {
  display: none;
}

.bigups .bigup {
  text-align: center;
  padding-top: 6px;
  display: block;
  vertical-align: top;
}

form {
  text-align: center;
  margin-bottom: 2em;
}

form textarea {
  height: 4em;
  margin-bottom: 0;
}

.field {
  display: block;
}

.field input[type=submit] {
  font-size: 2em;
  margin-top: 1em;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
  border-radius:         40px;
}

#spool_form {
	z-index: 2;
}

#spool_form form, .floating {
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	box-shadow: 5px 5px 20px #000;
	-moz-box-shadow: 5px 5px 20px #000;
	-webkit-box-shadow: 5px 5px 20px #000;
}

#spool_form form {
	width: 400px;
	float: right;
	padding: 1em;
	font-size: 120%;
	background: #b0a0ff;
}

#spool_form textarea {
	width: 200px;
}

div.flash {
	display: none;
}

div.abbreviator {
  text-align: center;
  font-size: 400%;
}

img#thumbs_down:hover {
  background-color: red;
  -moz-border-radius:    100px;
  -webkit-border-radius: 100px;
  border-radius:         100px;
}

img.big_tool:hover {
  background-image: url("/assets/red_dot.png");
	overflow-x: visible;
	overflow: visible;
	width: 100px;
}

img.little_tool:hover {
  background-image: url("/assets/red_dot.png");
	overflow-x: visible;
	overflow: visible;
	width: 50px;
}

img#jukebox:hover {
  background-image: url("/assets/red_dot.png");
	overflow-x: visible;
	overflow: visible;
	width: 40px;
}
