<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>
    <% link_to "http://bigchan.com" do %>
      <img src="images/bigchan.png" alt="bigchan" />
    <% end %>
    </h1>
    <div class="container">
      <div id="content" class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
